@use '../utils' as *;

@media #{$xxl} {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

@media #{$xl} {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@media #{$lg} {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media #{$md} {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media #{$sm} {

    .container,
    .container-sm {
        max-width: 540px;
    }
}