$colors: (
    common: ("white":#ffffff,
        "black":#000000,
        "placeholder":#858585,
        "placeholder2":#434343,
        "heading":#333333,
        "body-text":#858585,
        "body": #0D0D0D,
    ),
    theme: ("1":#FF589B,
        "2":#69E7CB,
        "3":#FBC21E,
    ),
    text: ("primary":#ffffff,
        "secondary":#111111,
        "1": #414141,
        "2": #323232,
        "3": #DDDDDD,
        "4": #959595,
        "5": #C1C1C1,
        "6": #5EE4C6,
        "7": #FF4F9D,
        "8": #e1e1e1,
        "9": #F7F7F7,
        "10": #6C00A8,
    ),
    bg: ("1":#5EE4C6,
        "2":#181818,
        "3":#FFC107,
        "4":#0D0D0D,
        "5":#1E1E1E,
        "6": #121212,
        "7": #171717,
        "8": #CBCBCB,
        "9": #B4FFF3,
        "10": #1C1C1C,
        "11": #242424,
    ),
    border: ("1": #414141,
        "2": #ffffff4f,
        "3": #292929,
    ),
    gradient: ("1":linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.59) 100%),
        "2":linear-gradient(90.64deg, var(--clr-bg-3) 0.54%, var(--clr-theme-1) 96.74%),
        "3":linear-gradient(96.81deg, var(--clr-theme-1) 0%, var(--clr-bg-3) 100%),
        "4":linear-gradient(90.64deg, var(--clr-theme-1) 4.42%, var(--clr-bg-3) 100.03%),
        "5":linear-gradient(180deg, var(--clr-theme-1) 0%, var(--clr-bg-3) 100%),
        "6":linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--clr-common-black) 100%),
        "7":linear-gradient(136.25deg, var(--clr-bg-3) 24.58%, var(--clr-theme-1) 85.77%),
    )
);